{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<br>
<form method="POST">
  <h2 align="center">Sign Up</h2>
  <div class="form-group">
    <label class="form-label" for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  <br> 
    <label class="form-label" for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  <br>
    <label class="form-label" for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      aria-describedby="passwordHelpBlock"
      placeholder="Enter password"
    />
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long.
    </div>
  <br>
    <label class="form-label" for="password2">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  <br>
  <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>
{% endblock %}
